
.bg-kye {
  background: #8360c3;
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  );
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  );
}

.bg-jumbo{
  background-image: url("/Imagenes/HardRock.jpg");
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-jumbo::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(
    to right,
    #2ebf91bb,
    #8360c3bb
  );
  background: linear-gradient(
    to right,
    #2ebf91bb,
    #8360c3bb
  );
}

.bg-jumbo > div {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.img-bg-carrousel{
  width: 100%;
  height: 600px;
  background-size: cover;
}